<div class="card-wrapper flex-column">
  <div
    class="img-container"
    [ngStyle]="{ 'background-image': recipe.imageId | backgroundImgUrl }"
  >
    <span class="circle">
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <span class="circle">
      <i class="fa-solid fa-bookmark"></i>
    </span>
  </div>
  <div class="label">
    <p>
      {{ recipe.recipeName | titlecase }}
    </p>
  </div>
  <div class="description-container">
    <p>
      {{ recipe.description | slice: 0:100 }}
      <span *ngIf="recipe.description.length > 100">...</span>
    </p>
  </div>
</div>
