@import "../../../styles/config.scss";

$card-img-size-normal: 320px;
$card-img-size-small: 280px;

.card-wrapper {
  width: $card-img-size-normal;
  text-align: center;
  transition: box-shadow 300ms ease-in-out;
  margin: 8px;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 44px -14px rgba(127, 127, 134, 1);
    -moz-box-shadow: 0px 0px 44px -14px rgba(127, 127, 134, 1);
    box-shadow: 0px 0px 44px -14px rgba(127, 127, 134, 1);
  }

  .img-container {
    height: $card-img-size-normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;

    .circle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $color-secondary;
      color: $color-light-black;
      border-radius: 100%;
      margin: 8px 8px 0 0;
      transition: 400ms;

      &:hover {
        cursor: pointer;
        background-color: $color-light-black-transparent;
        color: $color-secondary;
      }
    }
  }

  .label {
    position: relative;
    width: $card-img-size-small;
    top: -1.5rem;
    margin: auto;
    background-color: $color-light-black-transparent;
    border-radius: 10px;

    p {
      color: #fff;
      margin: 1rem 0.8rem;
    }
  }

  .description-container {
    padding: 0 8px;

    p {
      font-size: $font-size-m;
      margin-bottom: 0.8rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .card-wrapper {
    width: $card-img-size-small;

    .img-container {
      height: $card-img-size-small;
    }

    .label {
      width: $card-img-size-small - 40px;
      p {
        font-size: $font-size-m;
      }
    }

    .description-container p {
      font-size: 13px;
    }
  }
}
