<div class="card-wrapper flex-column">
  <div class="img-container">
    <span class="circle">
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <span class="circle">
      <i class="fa-solid fa-bookmark"></i>
    </span>
  </div>
  <div class="label">
    <p>Summer Salad</p>
  </div>
  <div class="description-container">
    <p>
      Lorem ipsum, dolor sit amet consectetur ipisicing elit. Aspernatur libero,
      mollitia voluptates xpedita quaerat optio, quam accusantium illum quo
      nisi, aperiam consectetur asperiores.
    </p>
  </div>
</div>
