<div class="form-container flex-column">
  <div class="icon-wrapper">
    <span>
      <i class="fa-solid fa-bowl-food"></i>
    </span>
  </div>
  <h3>Sign In</h3>
  <button class="btn btn-fb" disabled="true">
    <span><i class="fa-brands fa-facebook-f"></i></span>
    <span>Sign in with Facebook</span>
  </button>
  <h3>OR</h3>
  <form [formGroup]="loginForm">
    <div class="input-group flex-column">
      <div class="form-group">
        <input
          formControlName="email"
          [ngClass]="{ 'is-valid': loginForm.get('email')?.valid }"
          [ngClass]="{
            'is-invalid':
              !loginForm.get('email')?.valid && loginForm.get('email')?.touched
          }"
          type="email"
          class="form-control"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <input
          formControlName="password"
          [ngClass]="{ 'is-valid': loginForm.get('password')?.valid }"
          [ngClass]="{
            'is-invalid':
              !loginForm.get('password')?.valid &&
              loginForm.get('password')?.touched
          }"
          type="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="btn-group">
      <button
        class="btn secondary-fill"
        (click)="submitLogin()"
        [disabled]="!loginForm.valid"
      >
        Sign In
      </button>
      <span><a>Forgot your password?</a></span>
      <button class="btn secondary-border" routerLink="/register">
        Register
      </button>
    </div>
  </form>
</div>
